server:
  port: 8080
resilience4j:
  retry:
    instances:
      user-service-retry:
        max-attempts: 5
  circuit breaker:
    instances:
      user-service-circuit-breaker:
        minimum-number-of-calls: 10
management:
  endpoints:
    web:
      exposure:
        include: "*"
